* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.hero {
    background-color: #7791a1 !important;
    color: #fff !important;
    border-bottom-right-radius: 10rem;
}

.navbar {
    background-color: #7791a1;
}

.navbar-nav li a {
    color: #fff !important;
    font-size: 1rem;
    font-weight: 500;
}

.navbar-nav li a:hover {
    color: #198754 !important;
    text-decoration: underline;
}

.logo {
    color: purple !important;
    font-size: 2.5rem !important;
    margin-left: 2rem;
    font-family: Dancing Script;
    font-weight: 700;
}

a code{
    text-transform: uppercase;
}

.search {
    margin: 0 11rem 0 18rem !important;
}

.img-space {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.412)), url(./assets/images/banner-item-01.jpg) no-repeat center center;
    background-size: cover;
    margin: 8rem 0 3rem 20rem;
    border-radius: 20px;
    position: relative;
    padding: 5rem;
}

div .category {
    background-color: #7791a1;
    padding: 6px 14px;
    border-radius: 25px;
    font-size: 14px;
}

div .writeup {
    position: absolute;
    bottom: 7rem;
}

.writeup h2 {
    margin: 4rem 0;
    font-weight: 700;
}

.writeup p {
    font-size: 12px;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.writeup .hero-buttons {
    display: flex;
}

.main-button a {
    margin-right: 2rem;
    color: purple;
    text-decoration: none;
    background-color: #fff;
    padding: 0.6rem 0.9rem;
    border-radius: 25px;
    font-size: 10px;
}

.main-button a:hover,
.icon-button a:hover,
.fa-play:hover {
    color: #198754;
}


.icon-button a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/* a:hover{
    color: #198754;
} */

.fa-play {
    background-color: #fff;
    color: purple;
    padding: 8px;
    border-radius: 50px;
}


/* SHORT COURSES */

#short-courses {
    margin: 8rem 0;
}

#short-courses h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.main-content {
    background-color: #7791a156;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
}

.main-content h4 {
    font-size: 18px;
    font-weight: 600;
}

.icon {
    background-color: #19875488;
    border-radius: 100%;
    width: 117px;
    height: 117px;
    position: absolute;
}

.icon img {
    padding-left: 1rem;
    padding-top: 1rem;
}

.main-content p {
    font-size: 14px;
    font-weight: 600;
}

.main-para p {
    margin-bottom: 2.4rem;
}

.event_filter {
    background-color: #7791a1;
    border-radius: 56px;
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.event_filter li {
    list-style: none;
    padding: 6px;
}

.event_filter li a {
    text-decoration: none;
    margin: 0 auto;
    padding-left: 15px;
    font-size: 12px;
    color: purple;
}

.event_filter li a:hover {
    color: #fff;
}

/* .down-content h4{
      font-size: 15px;
} */

.events_item .thumb {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.events_item .thumb img {
    width: 100%;
    /* margin-bottom: -5px; */
}

.events_item .thumb span.category {
    position: absolute;
    left: 6px;
    top: 26px;
    font-size: 12px;
    text-transform: uppercase;
    color: #198754;
    background-color: rgba(250, 250, 250, 0.95);
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: 500;
    display: inline-block;
}

.events_item .thumb span.price {
    position: absolute;
    right: -30px;
    top: -50px;
    background-color: #198754;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: inline-block;
    transition: all .3s;
}

.events_item .thumb span.price h6 {
    margin-top: 72px;
    margin-left: 22px;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.events_item .thumb span.price em {
    font-size: 20px;
    font-weight: 500;
    vertical-align: top;
}

.events_item {
    background-color: #f1f0fe;
    border-radius: 25px;
    margin-bottom: 30px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.events_item .down-content {
    padding: 20px 20px 30px 20px;
}

.events_item .down-content span.author {
    color: #198754;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 6px;
}

.events_item .down-content h4 {
    font-size: 18px;
    font-weight: 600;
    transition: all .3s;
}

.events_item:hover .down-content h4 {
    color: #198754;
}

.events_item:hover .thumb span.price {
    transform: scale(1.2);
}


/* WRAPPER (FUN FACT)*/

div .wrapper{
    background-color: #7791a1;
    height: 15em;
    margin: 5rem 0 3rem 0;
    border-top-right-radius: 31.25rem;
    border-bottom-right-radius: 31.25rem;
}

.wrapper div{
    padding: 2rem 0 0 10px;
    color: purple;
    text-align: center;
}

.counter h2{
    font-weight: bold;
}

/* TEAM */

.team {
    margin-top: 100px;
      padding-top: 140px;
  }
  
  .team-member {
    position: relative;
  }
  
  .team-member:hover img {
    top: -120px;
  }
  
  .team-member img {
    max-width: 220px;
    border-radius: 50%;
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-110px);
    transition: all .3s;
  }
  
  .team-member .main-content {
    border-radius: 25px;
    padding: 140px 30px 40px 30px;
    background-color: #7791a141;
    text-align: center;
  }
  
  .team-member .main-content span.category {
    color: #fff;
    font-size: 15px;
  }
  
  .team-member .main-content h4 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 15px;
  }
  
  .team-member .main-content ul li {
    display: inline-block;
    margin: 0px 2px;
  }
  
  .team-member .main-content ul li a {
    background-color: #fff;
    color: purple;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .3s;
  }
  
  .team-member .main-content ul li a:hover {
    background-color: #7791a1;
    color: #fff;
  }

  /* TESTIMONIAL */

  .testimonials {
    position: relative;
    padding: 80px 0px;
    margin-top: 150px;
  }
  
  .testimonials:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 72%;
    height: 70%;
    background-color: #7791a141;
    content: '';
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}
  
  .testimonials .section-heading {
    margin-bottom: 0px;
    margin-left: 60px;
    vertical-align: middle;
  }
  
  .testimonials .section-heading p {
    margin-top: 50px;
  }
  
  .testimonials .item {
    background-color: #7791a1;
    border-radius: 25px;
    padding: 27px;
}
  
  .testimonials .item p {
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 40px;
  }
  
  .testimonials .item img {
    border-radius: 50%;
    max-width: 100px;
    float: left;
    margin-right: 25px;
  }
  
  .testimonials .item span {
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
  }
  
  .testimonials .item h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 8px;
  }
  
  .testimonials .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-5px);
    right: -25px;
    text-align: right;
  }
  
  .testimonials .owl-nav .owl-prev i,
  .testimonials .owl-nav .owl-next i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    display: inline-block;
    color: #7791a1;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
    opacity: 1;
    transition: all .3s;
  }
  
  .testimonials .owl-nav .owl-prev i {
    position: absolute;
    bottom: 65px;
  }
  
  .testimonials .owl-nav .owl-prev i:hover,
  .testimonials .owl-nav .owl-next i:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }
 
  
  /* EVENTS */

  .events .section-heading {
    margin-bottom: 100px;
  }
  
  .events .item {
    background-color: #f1f0fe;
    border-radius: 25px;
    position: relative;
    padding: 40px;
    margin-bottom: 96px;
  }
  
  .events .item .image {
    position: relative;
  }
  
  .events .item .image img {
    position: absolute;
    border-radius: 25px;
    max-width: 260px;
    left: 0;
    top: -70px;
  }
  
  .events .item ul li {
    display: inline-block;
    width: 17.5%;
    vertical-align: middle;
  }
  
  .events .item ul li:first-child {
    width: 35%;
  }
  
  .events .item ul li:nth-of-type(2) {
    width: 28%;
  }
  
  .events .item ul li span.category {
    font-size: 14px;
    text-transform: uppercase;
    color: #198754;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .events .item ul li h4 {
    font-size: 22px;
    font-weight: 600;
  }
  
  .events .item ul li span {
    display: inline-block;
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 10px;
  }
  
  .events .item ul li h6 {
    font-size: 16px;
    color: #7791a1;
    font-weight: 600;
  }
  
  .events .item a {
    position: absolute;
    right: 0;
    top: 22px;
    background-color: #7791a1;
    width: 60px;
    height: 120px;
    display: inline-block;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
    z-index: 1;
    color: #fff;
    border-radius: 60px 0px 0px 60px;
  }
 
  
  /* CONTACT */

  .contact-us {
    margin-top: 80px;
    position: relative;
    padding: 50px 0px;
  }
  
  .contact-us:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 65%;
    height: 70%;
    background-color: #f1f0fe;
    content: '';
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}
  
  
.contact-us .section-heading {
    margin-right: 80px;
    margin-bottom: 155px;
}
  
  .contact-us  .section-heading p {
    margin-top: 50px;
  }
  
  .contact-us .special-offer {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 25px;
    padding: 30px 120px;
    display: inline-block;
    position: relative;
  }
  
  .contact-us .special-offer span.offer {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #7791a1;
    width: 80px;
    padding: 30px 8px;
    line-height: 25px;
    height: 120px;
    border-radius: 15px 60px 60px 15px; 
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
  }
  
  .contact-us .special-offer span.offer em {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
  }
  
  .contact-us .special-offer h6 {
    font-size: 15px;
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .contact-us .special-offer h6 em {
    font-style: normal;
    color: #7791a1;
    font-weight: 600;
  }
  
  .contact-us .special-offer h4 {
    font-size: 22px;
    font-weight: 600;
  }
  
  .contact-us .special-offer h4 em {
    font-style: normal;
    color: #7791a1;
  }
  
  .contact-us .special-offer a {
    position: absolute;
    right: 30px;
    top: 35px;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    background-color: #7791a1;
    color: #fff;
    border-radius: 50%;
  }
  
  .contact-us .contact-us-content {
    border-radius: 25px;
    padding: 40px;
    background-color: #7791a1;
    position: relative;
    z-index: 1;
}
  .contact-us .contact-us-content::before {
    background: url(../images/contact-dec-01.png);
    position: absolute;
    left: 50%;
    transform: translateX(-149px);
    opacity: 0.5;
    top: 0;
    width: 318px;
    height: 119px;
    content: '';
    z-index: 2;
  }
  
  .contact-us .contact-us-content::after {
    background: url(../images/contact-dec-02.png);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 183px;
    height: 149px;
    content: '';
    z-index: 2;
  }
  
  #contact-form input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(249, 235, 255, 0.15);
    border: none;
    outline: none;
    font-weight: 300;
    padding: 0px 20px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
  }
  
  #contact-form input::placeholder {
    color: #fff;
  }
  
  #contact-form textarea {
    width: 100%;
    height: 120px;
    border-radius: 25px;
    background-color: rgba(249, 235, 255, 0.15);
    border: none;
    outline: none;
    font-weight: 300;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
  }
  
  #contact-form textarea::placeholder {
    color: #fff;
  }
  
  #contact-form button {
    border: none;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    padding: 0px 25px;
    border-radius: 25px;
    color: #198754;
    transition: all .4s;
    position: relative;
    z-index: 3;
}
  
  #contact-form button:hover {
    opacity: 0.8;
  }
  
  .contact-us-content .more-info {
    text-align: center;
    background: #198754;
    /* background: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%); */
    border-radius: 0px 0px 23px 23px;
    padding: 45px 30px 15px 30px;
  }
  
  .contact-us-content .more-info .info-item {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .contact-us-content .more-info i {
    font-size: 32px;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .contact-us-content .more-info h4 a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  

  /* FOOTER */

  footer {
    margin-top: 150px;
    position: relative;
    background-color: #7791a1;
    vertical-align: middle;
    min-height: 150px;
    border-radius: 150px 150px 0px 0px;
  }
  
  footer p {
    text-align: center;
    line-height: 150px;
    color: #fff;
    font-weight: 400;
  }
  
  footer p a {
    color: #fff;
    transition: all .3s;
    position: relative;
    z-index: 3;
  }
  
  footer p a:hover {
    opacity: 0.75;
  }
  
  footer::before {
    background: url(../images/contact-dec-01.png);
    position: absolute;
    left: 30px;
    transform: rotate(180deg);
    opacity: 1;
    bottom: 0;
    width: 318px;
    height: 119px;
    content: '';
    z-index: 2;
  }
  