*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.hero{
    background-color: #7791a1 !important;
    color: #fff !important;
    border-bottom-right-radius: 10rem;
}

.navbar{
    background-color: #7791a1;
}

.navbar-nav li  a{
    color: #fff !important;
    font-size: 1rem;
    font-weight: 500;
}

.navbar-nav li  a:hover{
    color:  #198754 !important;
    text-decoration: underline;
}

.logo{
    color: purple !important;
    font-size: 2rem !important;
    margin-left: 2rem;
    font-family: Dancing Script;
    font-weight: 700;
}

.search{
    margin: 0 15rem 0 18rem !important;
}

.img-space{
      width: 100%;
      height: 500px;
      background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.412)), url(./assets/images/banner-item-01.jpg) no-repeat center center;
      background-size: cover;
      margin: 8rem 0 3rem 20rem;
      border-radius: 20px;
      position: relative;
      padding: 5rem;
}

div .category{
    background-color: #7791a1;
    padding: 6px 14px;
    border-radius: 25px;
    font-size: 14px;
}

div .writeup{
    position: absolute;
    bottom: 7rem;
}

.writeup h2{
    margin: 4rem 0;
    font-weight: 700;
}

.writeup p{
    font-size: 12px;
    padding-right:  3rem;
    padding-bottom: 2rem;
}

.writeup .hero-buttons{
    display: flex;
}

.main-button a{
    margin-right: 2rem;
    color: purple;
    text-decoration: none;
    background-color: #fff;
    padding: 0.6rem 0.9rem;
    border-radius: 25px;
    font-size: 10px;
}

.main-button a:hover,
.icon-button a:hover,
.fa-play:hover {
  color: #198754;
}


.icon-button a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

 /* a:hover{
    color: #198754;
} */

.fa-play{
    background-color: #fff;
    color: purple;
    padding: 8px;
    border-radius: 50px;
}


/* SHORT COURSES */

#short-courses{
    margin: 8rem 0 ;
}

#short-courses h2{
    text-align: center;
    margin-bottom: 2rem;
}

.main-content{
    background-color: #7791a156;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
}

.main-content h4{
    font-size: 18px;
    font-weight: 600;
}

.icon{
        background-color: #19875488;
        border-radius: 100%;
        width: 117px;
        height: 117px;
        position: absolute;
}

.icon img{
    padding-left: 1rem;
    padding-top: 1rem;
}

.main-content p{
    font-size: 14px;
    font-weight: 600;
}

.main-para p{
    margin-bottom: 2.4rem;
}

/* LATEST COURSES */

.event_filter{
    background-color: #7791a1;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 35px;
}
.event_filter li{
    list-style: none;
    padding: 6px;
}

.event_filter li a{
    text-decoration: none;
    margin: 0 auto;
    padding-left: 15px;
    font-size: 12px;
    color: purple;
}
.event_filter li a:hover{
    color: #fff;
}

/* .down-content h4{
      font-size: 15px;
} */

.events_item .thumb {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .events_item .thumb img {
    width: 100%;
    /* margin-bottom: -5px; */
  }
  
  .events_item .thumb span.category {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #198754;
    background-color: rgba(250, 250, 250, 0.95);
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: 500;
    display: inline-block;
  }
  
  .events_item .thumb span.price {
    position: absolute;
    right: -30px;
    top: -50px;
    background-color: #198754;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: inline-block;
    transition: all .3s;
  }
  
  .events_item .thumb span.price h6 {
    margin-top: 72px;
    margin-left: 22px;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
  }
  
  .events_item .thumb span.price em {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    vertical-align: top;
  }
  
  .events_item {
    background-color: #f1f0fe;
    border-radius: 25px;
    margin-bottom: 30px;
    position: relative;
    justify-content: center;
    align-items: center;
  } 
  
  .events_item .down-content {
    padding: 20px 30px 25px 30px;
  }
  
  .events_item .down-content span.author {
    color: #198754;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 6px;
  }
  
  .events_item .down-content h4 {
    font-size: 22px;
    font-weight: 600;
    transition: all .3s;
  }
  
  .events_item:hover .down-content h4 {
    color: #198754;
  }
  
  .events_item:hover .thumb span.price {
    transform: scale(1.2);
  }
  