*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.hero{
    background-color: #7791a1 !important;
    color: #fff !important;
    border-bottom-right-radius: 10rem;
}

.navbar{
    background-color: #7791a1;
}

.navbar-nav li  a{
    color: #fff !important;
    font-size: 1rem;
    font-weight: 500;
}

.navbar-nav li  a:hover{
    color:  #198754 !important;
    text-decoration: underline;
}

.logo{
    color: purple !important;
    font-size: 2rem !important;
    margin-left: 2rem;
    font-family: Dancing Script;
    font-weight: 700;
}

.search{
    margin: 0 15rem 0 18rem !important;
}

.img-space{
      width: 100%;
      height: 500px;
      background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.412)), url(./assets/images/banner-item-01.jpg) no-repeat center center;
      background-size: cover;
      margin: 8rem 0 3rem 20rem;
      border-radius: 20px;
      position: relative;
      padding: 5rem;
}

div .category{
    background-color: #7791a1;
    padding: 6px 14px;
    border-radius: 25px;
    font-size: 14px;
}

div .writeup{
    position: absolute;
    bottom: 7rem;
}

.writeup h2{
    margin: 4rem 0;
    font-weight: 700;
}

.writeup p{
    font-size: 12px;
    padding-right:  3rem;
    padding-bottom: 2rem;
}

.writeup .hero-buttons{
    display: flex;
}

.main-button a{
    margin-right: 2rem;
    color: purple;
    text-decoration: none;
    background-color: #fff;
    padding: 0.6rem 0.9rem;
    border-radius: 25px;
    font-size: 10px;
}

.main-button a:hover,
.icon-button a:hover,
.fa-play:hover {
  color: #198754;
}


.icon-button a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

 /* a:hover{
    color: #198754;
} */

.fa-play{
    background-color: #fff;
    color: purple;
    padding: 8px;
    border-radius: 50px;
}


/* SHORT COURSES */

#short-courses{
    margin: 8rem 0 ;
}

#short-courses h2{
    text-align: center;
    margin-bottom: 2rem;
}

.main-content{
    background-color: #7791a156;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
}

.main-content h4{
    font-size: 18px;
    font-weight: 600;
}

.icon{
        background-color: #19875488;
        border-radius: 100%;
        width: 117px;
        height: 117px;
        position: absolute;
}

.icon img{
    padding-left: 1rem;
    padding-top: 1rem;
}

.main-content p{
    font-size: 14px;
    font-weight: 600;
}

.main-para p{
    margin-bottom: 2.4rem;
}

/* LATEST COURSES */

.event_filter{
    background-color: #7791a1;
    border-radius: 20px;
    width: 40vw;
    margin: 3rem 0 5rem 18rem;
}
.event_filter li{
    list-style: none;
    margin: 6px;
}


.event_filter li a{
    text-decoration: none;
    font-size: 12px;
    color: purple;
}

.event_filter li a:hover{
    color: #fff;
}

.thumb a img{
    width: 20rem;
    border-radius: 10px;
}

.event_outer{
    background-color: #7791a167;
    border-radius: 10px;
    width: 30% !important;
    margin: 0px;
    margin-left: -10 !important;
    position: relative;
}

.thumb .category{
    position: absolute;
    top: 10px
    
}

.down-content h4{
      font-size: 15px;
}